@page
@model SUPIR_RAZOR.Pages.SuppliesModel
@{
    ViewData["Title"] = "Supply";
}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Отправить</button>
</form>